#testimonial {
    display: flex;
}
#test-text {
    display: flex;
}

div#card {
    padding: 1%;
    margin: 1%;
    border: 1px solid #888;
}
div#card p {
    padding: 1%;
    margin: 1%;
    border: 1px solid #888; 
}
#card h5 {
    text-align: center;
}
/* Flex styles */
#cards {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    align-items: baseline;
    /* box-shadow: 0px 0px 5px 10px #888888; */
    justify-content: space-between;
}
#card {
    /* flex: 1; */
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    box-shadow: 5px 10px red;
}
#order1 {
    order: 1;
}
#order2 {
    order: 2;
}

@media (max-width: 800px){
    #cards {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: row-reverse; */
        /* align-items: baseline; */
        align-items: flex-end;
        box-shadow: 5px 10px #888888;
    }
    #card {
        /* flex: 1; */
        flex-basis: 25%;
    }
}

    /** Element Selector CSS **/
    .menu li {
        display: inline;
    }
    .menu li a{
        color: #333;
        text-decoration: none;
    }
    
    /** Pseudo Element **/
    .menu li a::after{
        content: "/";
        font-weight: bolder;
        margin: 0 10px;
    }

    /*** ID selector CSS **/ 
    #hero-banner{
        height: 300px;
        padding-top: 100px;
        /* color: #f3f3f3; */
        text-align: center;
    }

    /** Class Selector CSS **/
    .bg-blue{
        background-color: deepskyblue;
    }

    .text-center{
        text-align: center;
    }

    .mt-3{
       margin-top:1rem; 
    }

    .stacked-list li{
        list-style-type: none;
        display: block;
        max-width: 300px;
    }

    /** pseudo selector to apply border for all elements except last one **/
    .stacked-list li:not(:last-child){
        border-bottom: 1px solid #888;
    }

    .stacked-list{
        border: 1px solid #888;
        margin: 0;
        padding: 0;
        width: 300px; 
    }

    .button{
        border-radius: 2px;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        padding: 15px 90px;
        text-decoration: none;
    }

    .button-blue{
        background-color: #419BF9;
        color: #FFF;
    }

    .image-wrapper{
        position: relative;
        display: inline-block;
    }
    .image-caption {
        position: absolute;
        bottom: 0;
        left: 20px;
        color: #fff;

    }

    .boxes{
        margin-top:25px; 
        width: 100%;
    }

    .boxes::after{
        content: "";
        display: block;
        clear: both;
    }
    .four .box{
        width: 15%;
    }
    .three .box{
        width: 30%;
        float: left;
    }
    .box{
        border: 1px solid #88888880;
        margin: 0 5px;
        padding: 5px;
        box-shadow: 0 0 10px #88888880;
    }