/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Revision number: c 6/3/19 */
/* Table CSS  -------------------- */
caption#my_caption {
    display: table-caption;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align:center;
    padding: 1%;
    color: blue;
} /* Caption text */
table#my_table {
    display: table;
    border:	3px groove green;
    border-collapse: separate;
    border-spacing: 10px;
    table-layout: fixed;	
    width: 90%;
    margin-left: 5%; 
    margin-right: 5%;
}

#table_header {
    display: table-header-group;
    vertical-align: inherit;
    border: 1px solid black;
}
#table_tbody {
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid black;
}
#table_footer {
    display: table-footer-group;
    vertical-align: inherit;
    border: 1px solid black;
}
td.compare_cell {
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid black;
}
table.compare_table {
    display: table;
    border:	3px groove green;
    /* border-collapse: collapse;  */
    /* border-spacing: 3px; */
    /* border-color: greenyellow; */
    border-collapse: separate;
    border-spacing: 10px;
    table-layout: fixed;	
    width: 90%;
    margin-left: 5%; 
    margin-right: 5%;
}