/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Default CSS  */
        body {
        background-color: lightgoldenrodyellow;
        font-family: 'Times New Roman', Times, serif
        }
        h1 {
        color:darkred ;
        text-align: center;
        }/* Header main topic */
        h2 {
        color: black;
        text-align: center;
        }/* Header subtitle */
        h3 {
        color: black;
        text-align:justify ;
        }/* Header for a section  */
        p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align:center
        }
        p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align:center
        }
        ol {
        list-style-type: lower-alpha;;
        margin: 20 ;
        padding: 20;
        overflow: hidden;
        /* background-color:goldenrod */
        }
   