/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Rev# g 6/6/19 */
/* Assignment week 03 specifics -------------------- */
/* Assignment #1 - Apartment style  */
#apartment_container {
	/* display: block;
	position: relative; */
	width: 272px;
	height: 309px;
	background-color: white;
	/* border-radius: 4px; */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid rgba(97, 97, 97, .23); 
	 /*.box{
    border: 1px solid #97979723;
    max-width: 272px;
    max-height: 310px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}  */
}
/* Apartment Image style */
/* #apartment_image {
	display: inline-block;
	position: relative;
	max-width: 100%;
	max-height: 100%;
	width: 265;
	height: 140px;
	padding: 2%
} */
#apartment_image{
	height: 223px;
	/* Why 223px */
    width: 272px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#description_text {
	/* display: inline-block;
	position: absolute; */
	max-width: 100%;
    max-height: 100%;
	/* top: -100px; */
	/* left: 19px; */
	padding-left: 19px;
	margin-top: -50px;
}
#description_text p{
    margin: 12px 0;
}
.box .meta{
    margin-top: -50px;
    padding:0 0 21px 19px; 
}
p#apartment_price
{
	font-family: 'Libertad Medium', serif;
	font-size: 28px;
	/* color: #ffffff; red temporary */
	color: red;
	letter-spacing: 0.0px;
	width: 52px;
	height: 33px;
	/* top: -50px; */
	/* z-index: 2; */
}
.meta .price{
    font-size: 28px;
    color:#fff;
}
/* p#apartment_price_style
{
	font-family: 'Libertad Medium', serif;
	font-size: 28px;
	color: #ffffff; red temporary
	color: red;
	letter-spacing: 0.0px;
} */
p#description_line1
{
	font-family: 'Libertad', serif;
	font-size: 17px;
	color: #1e2d52;
	letter-spacing: 0.0px;
	width: 160px;
	height: 23px;
	/* position: absolute; */
	/* top: 239px; */
	/* right: 93px; */
	/* left: 19px; */
	/* bottom: 47px; */
}
p#description_line2
{
	font-family: 'Libertad Book', serif;
	font-size: 17px;
	color: #222222;
	width: 50px;
	height: 23px;
	letter-spacing: 0.0px;
	/* position: absolute; */
	/* top: 265px; */
	/* right: 203px; */
	/* left: 19px; */
	/* bottom: 21px; */
}

 