/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Revision number: a 6/4/19 */
/* Assignment week 03 specifics -------------------- */
/* Assignment #2 - Donko CEO style  */
#donko_container {
	content:"";
	display: block;
	margin: 10px auto;
	background-color: tan;
}
#donko_line1{
	/* float: left; */
	display: inline-block;
	padding-top: 80px;
	padding-left: 118px;
	width: 458px;
	height: 192px;
	text-align: left;
	font-size: 24px;
}
#donko_line2{
	position: absolute;
	top: 324px;
	left: 590px;
	right: 220px;
	text-align: left; 
	font-weight: bold;
	font-family: 'Rubik Medium', sans-serif;
	font-size: 24px;
	color: #373742;
	letter-spacing: 0.0px;
}
#donko_line3{
	position: absolute;
	top: 360px;
	left: 590px;
	right: 220px;
	text-align: left;
	font-family: 'Rubik Regular', sans-serif;
	font-size: 20px;
	color: #838383;
	letter-spacing: 0.0px; 
}
#donko_card {
	position: relative;
	width: 1100px;
	height: 460px;
  	background-color: white;
	border-radius: 4px;
	border: 4px solid rgba(97, 97, 97, .23)
}
#donko_image_container {
	content:"";
	float: left;
	padding-left: 72px;
	padding-top: 80px;
}
#donko_image {
	content:"";
	float: left;
	border-radius: 20px;
	border: 4px solid rgba(97, 97, 97, .23);
}
/* Donko card style end */