/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Revision number: e 6/3/19 */
/* Assignment week 03 specifics -------------------- */
/* Assignment #2 - Donko CEO style  */
#donko_container {
	content:"";
	display: block;
	margin: 10px auto;
	background-color: tan;
}
#donko_line1{
	/* float: left; */
	display: inline-block;
	padding-top: 80px;
	padding-left: 118px;
	width: 458px;
	height: 192px;
	text-align: left;
	font-size: 24px;
}
#donko_line2{
	position: absolute;
	top: 324px;
	left: 590px;
	right: 220px;
	text-align: left; 
	font-weight: bold;
	font-family: 'Rubik Medium', sans-serif;
	font-size: 24px;
	color: #373742;
	letter-spacing: 0.0px;
}
#donko_line3{
	position: absolute;
	top: 360px;
	left: 590px;
	right: 220px;
	text-align: left;
	font-family: 'Rubik Regular', sans-serif;
	font-size: 20px;
	color: #838383;
	letter-spacing: 0.0px; 
}
#donko_card {
	position: relative;
	width: 1100px;
	height: 460px;
  	background-color: white;
	border-radius: 4px;
	border: 4px solid rgba(97, 97, 97, .23)
}
#donko_image_container {
	content:"";
	float: left;
	padding-left: 72px;
	padding-top: 80px;
}
#donko_image {
	content:"";
	float: left;
	border-radius: 20px;
	border: 4px solid rgba(97, 97, 97, .23);
}
/* Donko card style end */
/* Assignment #1 - Apartment style  */
#apartment_image {
	display: inline-block;
	position: absolute;
	top: 80px;
	left: 72px;
	z-index: 1;
}	
#image_container {
	display: block;
	position: relative;
	/* width: 80%; */
	width: 272px;
	height: 309px;
  	background-color: white;
		/* margin-bottom: 25px; */
		/* border radius color 979797 23% opacity */
		/* need place border inside */
	border-radius: 4px;
	border: 4px solid rgba(97, 97, 97, .23);
		/* width: 90%; */
		/* height: auto; */
		/* padding: 1%; */
		/* margin: 50px 0px; */
		
} 
/* Apartment Image style */
#apartment_image2 {
	display: inline-block;
	position: absolute;
	top:0;
	width: 272px;
	height: auto;
	z-index: 1;
}

p#description_line1
{
	font-family: 'Libertad', serif;
	font-size: 17px;
	color: #1e2d52;
	letter-spacing: 0.0px;
	width: 160px;
	height: 23px;
	position: absolute;
	top: 239px;
	/* right: 93px; */
	left: 19px;
	/* bottom: 47px; */
}
p#description_line2
{
	font-family: 'Libertad Book', serif;
	font-size: 17px;
	color: #222222;
	width: 50px;
	height: 23px;
	letter-spacing: 0.0px;
	position: absolute;
	top: 265px;
	/* right: 203px; */
	left: 19px;
	/* bottom: 21px; */
}
p#apartment_price
{
	font-family: 'Libertad Medium', serif;
	font-size: 28px;
	/* color: #ffffff; red temporary */
	color: red;
	letter-spacing: 0.0px;
	width: 52px;
	height: 33px;
	position: relative;
	/* top: 176px; */
	top: 87px;
	/* right: 201px;  */
	left: 19px;
	/* bottom: 14px; */
	z-index: 2;
}
p#apartment_price_style
{
	font-family: 'Libertad Medium', serif;
	font-size: 28px;
	/* color: #ffffff; red temporary */
	color: red;
	letter-spacing: 0.0px;
}
/* Positioning */
span.apartment_price_position
{
	width: 52px;
	height: 33px;
	position: relative;
	top: 176px;
	right: 201px; 
	left: 19px;
	bottom:14px;
}
#line1_position
{
	position: absolute;
	top: 239px;
	right: 93px;
	left: 19px;
	bottom: 47px;
} 
#line1_position
{
	position: absolute;
	top: 265px;
	right: 203px;
	left: 19px;
	bottom: 21px;
} 
/* w3 image example */
.w3-container:after,.w3-container:before
{
	content:"";display:table;clear:both
}
/*  */
.w3-container
{
	padding:0.01em 16px
}
.w3-card
{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.w3-card-4
{
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
/*  */