/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Revision number: c 5/25/19 */
/* Default CSS  -------------------- */
	body {
	background-color: lightgray;
	font-family: 'Times New Roman', Times, serif
	}
	h1 {
	color:darkred ;
	text-align: center;
	}/* Header main topic */
	h2 {
	color: black;
	text-align: center;
	}/* Header subtitle */
	h3 {
	color: black;
	text-align:justify ;
	}/* Header for a section  */
	p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	text-align:center
	}
	td {
		display: table-cell;
		vertical-align: inherit;
		border: 1px solid black;
	}
	table {
		display: table;
		border-collapse: separate;
		border-spacing: 2px;
		border-color: gray;
		table-layout: auto;
	}
	caption { 
		display: table-caption;
		text-align: center;
	  }
	div {
		display: block;
	}
	label {
		cursor: default;
	}
	/* ol {
	list-style-type: lower-alpha;;
	margin: 20 ;
	padding: 1%;
	overflow: hidden;
	background-color:goldenrod 
	}*/
/* menu begin */
ul.topmenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  ul.topmenu>li {
	float: left;
  }
  
  ul.topmenu>li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  ul.topmenu>li a:hover {
	background-color: #111;
  }
/* menu end */
/* Workspace specific -------------------- */
/* Table style begin */
	table.compare_table {
		display: table;
		border:	3px groove green;
		/* border-collapse: collapse;  */
		/* border-spacing: 3px; */
		/* border-color: greenyellow; */
		border-collapse: separate;
		border-spacing: 10px;
		table-layout: fixed;	
		width: 90%;
		margin-left: 5%; 
		margin-right: 5%;
	}
	/* tbody.compare_tbody{
		display: table-row-group;
  		vertical-align: middle;
  		border:	30px solid black;
		border-color: inherit;
		border-collapse: separate;
		border-spacing: 15px;	
	} */
	td.compare_cell {
		display: table-cell;
		vertical-align: inherit;
		border: 1px solid black;
	}
	#assignment-text {
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
		text-align:center;
		padding: 1%;
		color: blue;
	 	} /* Assignment text */
	#example-image {
		display: block;
		/* border: 3px solid green; */
		width: 90%;
		height: auto;
		padding: 1%;
		margin: auto;
		} /* Example Image style */
/* Table style end */
/* form style begin  ----------------------------  */
	#shipping_form {
		display: block;
		background-color: #b2dfdb;
		margin-top: 0em;
		} /* shipping form */
	/* .formrow {
		display: block;
		} */
	.wrapper {
		background-color: #b2dfdb;
		list-style-type: none;
		padding-top: 15px;
		padding-right: 2%;
		padding-left: 2%;
		padding-bottom: 5%;
		border-radius: 3px;
		/* justify-content: space-between; */
	}
	/*  */
	.form-row-label, .form-row-input {
		display: flex;
		justify-content: flex-end;
		padding: .5em;
	}
	.form-row-label > label {
		/* padding: 1%; */
		flex: 2;
		}
	.form-row-input > input {
		/* padding: 1%; */
		flex: 1;
	}	
/*  */
	.form-line {
		display: flex;
		justify-content: space-between;
		/* flex-basis: 45%; */
		padding: .5em;
	}
	.form-line > label {
		/* padding: .5em 1em .5em 0; */
		/* padding: 1%; */
		flex-basis: 45%;
		box-sizing: border-box;
		flex: 1;
		}
	.form-line > input {
		/* padding: 1%; */
		flex-basis: 45%;
		box-sizing: border-box;
		flex: 5;
	}				
   	#shipping_form_text {
		color: black;
		text-align:left ;
		} /* shipping form text */
	.form_hr_line{
		color:rgba(34,36,38,0.7);
		padding-top: 8px;
		/* padding-bottom: 15px; */
		/* padding at above next line ul at First Name */
	}
	.bgcolor_position {
		background-color: blanchedalmond;
		/* margin: auto; */
		margin-left: 5%; 
		margin-right: 5%;
		width: 90%;
		/* border: 3px solid green; */
		padding: 1%;
		}
/* form style end  ----------------------------  */
/* button styles begin */
	.button_style {
		background-color: cornflowerblue;
		border-radius: 2px;
		border: none;
		color: white;
		width: 350px;
		height: 60px;
		/* padding: 15px 25px; */
		font-family: 'Roboto Medium' serif;
		font-size: 24px;
		text-align: center;
		cursor: pointer;
		}
		/* Button style end */
	