/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Revision number: m 5/28/19 */
/* Default CSS  -------------------- */
	body {
	background-color: lightgray;
	font-family: 'Times New Roman', Times, serif
	}
	h1 {
	color:darkred ;
	text-align: center;
	}/* Header main topic */
	h2 {
	color: black;
	text-align: center;
	}/* Header subtitle */
	h3 {
	color: black;
	text-align:justify ;
	}/* Header for a section  */
	p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	text-align:center
	}
	td {
		display: table-cell;
		vertical-align: inherit;
		border: 1px solid black;
	}
	table {
		display: table;
		border-collapse: separate;
		border-spacing: 2px;
		border-color: gray;
		table-layout: auto;
	}
	caption { 
		display: table-caption;
		text-align: center;
	  }
	div {
		display: block;
	}
	label {
		cursor: default;
	}
/* menu begin */
ul.topmenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  ul.topmenu>li {
	float: left;
  }
  ul.topmenu>li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  ul.topmenu>li a:hover {
	background-color: #111;
  }
/* menu end */
/* Workspace specific -------------------- */
/* Table style begin */
	table.compare_table {
		display: table;
		border:	3px groove green;
		/* border-collapse: collapse;  */
		/* border-spacing: 3px; */
		/* border-color: greenyellow; */
		border-collapse: separate;
		border-spacing: 10px;
		table-layout: fixed;	
		width: 90%;
		margin-left: 5%; 
		margin-right: 5%;
	}
td.compare_cell {
		display: table-cell;
		vertical-align: inherit;
		border: 1px solid black;
	}
	#assignment-text {
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
		text-align:center;
		padding: 1%;
		color: blue;
	 	} /* Assignment text */
	#example-image {
		display: block;
		/* border: 3px solid green; */
		width: 90%;
		height: auto;
		padding: 1%;
		margin: auto;
		} /* Example Image style */
/* Table style end */
/* form style begin  ----------------------------  */
	#shipping_form {
		display: block;
		background-color: #b2dfdb;
		margin-top: 0em;
		} /* shipping form */
	
	/*  */
	.form_container {
		display: flex;
		margin: 2%;
		padding: 2%
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
.field_row {
		/* padding: .5em 1em .5em 0; */
		/* padding: 1%; */
		flex-basis: 45%;
		margin: 2%;
		padding: 2%
		box-sizing: border-box;
		flex: 1;
	}
	#shipping_form_text {
		color: black;
		text-align:left ;
	} /* shipping form text */
.form_hr_line{
		color:rgba(34,36,38,0.7);
		padding-top: 8px;
		padding-bottom: 15px;
}
/* form style end  ----------------------------  */
/* button styles begin */
	.button_style {
		background-color: cornflowerblue;
		border-radius: 2px;
		border: none;
		color: white;
		width: 350px;
		height: 60px;
		/* padding: 15px 25px; */
		font-family: 'Roboto Medium' serif;
		font-size: 24px;
		text-align: center;
		cursor: pointer;
		}
		/* Button style end */
	