/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Revision number: a 6/4/19 */
/* Assignment week 03 specifics -------------------- */
/* Assignment #1 - Apartment style  */
#apartment_image {
	display: inline-block;
	position: absolute;
	top: 80px;
	left: 72px;
	z-index: 1;
}	
#image_container {
	display: block;
	position: relative;
	/* width: 80%; */
	width: 272px;
	height: 309px;
  	background-color: white;
		/* margin-bottom: 25px; */
		/* border radius color 979797 23% opacity */
		/* need place border inside */
	border-radius: 4px;
	border: 4px solid rgba(97, 97, 97, .23);
		/* width: 90%; */
		/* height: auto; */
		/* padding: 1%; */
		/* margin: 50px 0px; */
		
} 
/* Apartment Image style */
#apartment_image2 {
	display: inline-block;
	position: absolute;
	top:0;
	width: 272px;
	height: auto;
	z-index: 1;
}

p#description_line1
{
	font-family: 'Libertad', serif;
	font-size: 17px;
	color: #1e2d52;
	letter-spacing: 0.0px;
	width: 160px;
	height: 23px;
	position: absolute;
	top: 239px;
	/* right: 93px; */
	left: 19px;
	/* bottom: 47px; */
}
p#description_line2
{
	font-family: 'Libertad Book', serif;
	font-size: 17px;
	color: #222222;
	width: 50px;
	height: 23px;
	letter-spacing: 0.0px;
	position: absolute;
	top: 265px;
	/* right: 203px; */
	left: 19px;
	/* bottom: 21px; */
}
p#apartment_price
{
	font-family: 'Libertad Medium', serif;
	font-size: 28px;
	/* color: #ffffff; red temporary */
	color: red;
	letter-spacing: 0.0px;
	width: 52px;
	height: 33px;
	position: relative;
	/* top: 176px; */
	top: 87px;
	/* right: 201px;  */
	left: 19px;
	/* bottom: 14px; */
	z-index: 2;
}
p#apartment_price_style
{
	font-family: 'Libertad Medium', serif;
	font-size: 28px;
	/* color: #ffffff; red temporary */
	color: red;
	letter-spacing: 0.0px;
}
/* Positioning */
span.apartment_price_position
{
	width: 52px;
	height: 33px;
	position: relative;
	top: 176px;
	right: 201px; 
	left: 19px;
	bottom:14px;
}
#line1_position
{
	position: absolute;
	top: 239px;
	right: 93px;
	left: 19px;
	bottom: 47px;
} 
#line1_position
{
	position: absolute;
	top: 265px;
	right: 203px;
	left: 19px;
	bottom: 21px;
} 