
    /** Element Selector CSS **/
    .menu li {
        display: inline;
    }
    .menu li a{
        color: #333;
        text-decoration: none;
    }
    
    /** Pseudo Element **/
    .menu li a::after{
        content: "/";
        font-weight: bolder;
        margin: 0 10px;
    }

    /*** ID selector CSS **/ 
    #hero-banner{
        height: 300px;
        padding-top: 100px;
        /* color: #f3f3f3; */
        text-align: center;
    }

    /** Class Selector CSS **/
    .bg-blue{
        background-color: deepskyblue;
    }

    .text-center{
        text-align: center;
    }

    .mt-3{
       margin-top:1rem; 
    }

    .stacked-list li{
        list-style-type: none;
        display: block;
        max-width: 300px;
    }

    /** pseudo selector to apply border for all elements except last one **/
    .stacked-list li:not(:last-child){
        border-bottom: 1px solid #888;
    }

    .stacked-list{
        border: 1px solid #888;
        margin: 0;
        padding: 0;
        width: 300px; 
    }

    .button{
        border-radius: 2px;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        padding: 15px 90px;
        text-decoration: none;
    }

    .button-blue{
        background-color: #419BF9;
        color: #FFF;
    }

    .image-wrapper{
        position: relative;
        display: inline-block;
    }
    .image-caption {
        position: absolute;
        bottom: 0;
        left: 20px;
        color: #fff;

    }

    .boxes{
        margin-top:25px; 
        width: 100%;
    }

    .boxes::after{
        content: "";
        display: block;
        clear: both;
    }
    .four .box{
        width: 15%;
    }
    .three .box{
        width: 30%;
        float: left;
    }
    .box, .card{
        border: 1px solid #88888880;
        box-shadow: 0 0 10px #88888880;
    }
    .box{
        margin-right: 10px;
    }
    .box:last-child{
        margin-right: 0;
    }

    @media (max-width: 800px){
        /** display:flex will enable flex box **/
        .cards{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end; /* stretch is default value */
            justify-content: space-between;
        }
        /** Flex basis is equal to width property in box-model **/
        .card{
            flex-basis: 30%;
            display: flex;
            flex-direction: column; /** row is default value */
            padding: 0 10px;
        }
        .card h5{
            margin: auto;
        }
    }

    /*
    Smaller screen
    @media (max-width: 700px){
        .box{
            width: 100%;
        }
    }

    Larger screen
    @media (max-width: 1200px){
        .box{
            width: 30%;
        }
    }
    
    .card{
        flex: 1;
    }
     .order1{
        order: 1;
    }
    .order2{
        order: 2;
    }
    .card:nth-child(1){
        order: 2;
    } */
    /* .card:last-child{
        flex: 2;
    } */


    .testimonial{
        display: flex;
        width: 1110px;
    }
    .testimonial img{
        margin-right: 118px;
    }
    .testimonial .meta{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }