/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Revision number: e 6/3/19 */
/* Menu CSS  -------------------- */
/* header#header_menu {
    position: relative;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
}
footer#footer_menu {
    position: relative;
    bottom: 0;
    left: 0;
    height: 5%;
    width: 100%;
} */
footer#footer_menu {
    clear: both;
}
ul.topmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topmenu>li {
    float: left;
}
ul.topmenu>li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topmenu>li a:hover {
    background-color: #111;
}