/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Rev# j 6/11/19 navigation-menu.html */
/* Rev# a 7/2/19 themeNavJson.html */
/* Menu CSS  -------------------- */
@media (max-width: 1200px){
    /** display:flex will enable flex box **/
    #box{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end; /* stretch is default value */
        justify-content: space-between;
    }
    /** Flex basis is equal to width property in box-model **/
    #boxes{
        flex-basis: 30%;
        display: flex;
        flex-direction: column; /** row is default value */
        /* padding: 0 10px; */
    }
    #boxes h5{
        margin: auto;
    }
}
header#header_menu {
    display: flex;
    width: 1920px;
    height: 110px;
    margin: 0em;
    padding: 0em;
    background-color: #ffffff;
    justify-content: space-between;
    flex-direction: row;
}
nav#navmenu {
    display: flex;
    flex: 1;
    margin: 0em;
    padding: 0em;
    justify-content: space-between;
    flex-direction: row;
}
p#mc_logo {
    display: flex;
    flex: 1;
    /* align-items: left; */
    color: #000;
    font-family: Helvetica, serif;
    font-size: 26px;
    letter-spacing: 0.0px;
	width: 151px;
    height: 31px;
    margin: 0em;
    padding: 0em;
}
span#code_color {
    color: #820bc6;
}
ul#top_menu {
    display: flex;
    flex: 1;
    /* align-items: left; */
    list-style-type: none;
    margin: 0em;
    padding: 0em;
    overflow: hidden;
    width: 435px;
	height: 38px;
    background-color: #cccccc;
    color: #263035;
    font-family: Helvetica, serif;
    font-size: 16px;
    letter-spacing: 0.0px;
}
ul#top_menu>li {
    /* flex: 5; */
    /* float: left; */
    flex: 1;
}
ul#top_menu>li a {
    /* display: flex; */
    /* color: white; */
    text-align: center;
    margin: 0em;
    padding: 0em;
    text-decoration: none;
}
ul#top_menu>li a:hover {
    opacity: 0.5;
    /* background-color: #999999; */
}
/* button styles begin */
#button_style {
    background-color: #820bc6;
    border-radius: 3px;
    border: none;
    color: white;
    width: 150px;
    height: 55px;
    /* padding: 15px 25px; */
    /* font-family: 'Roboto Medium' serif; */
    /* font-size: 24px; */
    text-align: center;
    cursor: pointer;
    margin: 0em;
    padding: 0em;
    }
    /* Button style end */
footer#footer_menu {
    clear: both;
}
ul.bottom_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 435px;
	height: 38px;
    background-color: #000000;
}
ul.bottom_menu>li {
    float: left;
}
ul.bottom_menu>li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.bottom_menu>li a:hover {
    background-color: #333;
}