/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Rev# j 6/8/19 hw04.html */
/* Forms CSS  -------------------- */
#send_message_form {
    display: flex;
    background-color: #273051;
}
#entry_column {
    flex: 1;
}
#info_column {
    flex: 1;
    background-color: #273051;
}
#message_area {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: both;
  }
/* Forms CSS defaults */
form {
    display: block;
    margin-top: 1%;
  }