/* Homework assignment #3 mailbox week04 on 6/8/19 */
/* Web Development class at Goodwill University */
/* Student: Daniel "Danny" K. King */
/* Rev# j 6/11/19 mailbox.html */
#mailbox_section {
    /* background-color: lightpink; */
    margin: 10%;
    padding: 10%;
    background-color: lightcoral;
}
#mailbox_container {
    display: flex;
    Max-width: 400px;
    Padding: 12px 20px;
    Font-size: 16px;
    /* Font-size: 72px; */
    flex-direction: column;
    background-color: #cccccc;
}
#mailbox_line {
    display: flex;
    justify-content: space-between;
    border-left: 3px solid rgba(0,0,0,.125);
    border-top: 3px solid rgba(0,0,0,.125);
    border-right: 3px solid rgba(0,0,0,.125);
    background-color: white;
}
#mailbox_line:first-child {
    border-top: 3px solid rgba(0,0,0,.125);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#mailbox_line:last-child {
    border-bottom: 3px solid rgba(0,0,0,.125);;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#mail_link {
    padding-left: 1rem;
    flex-direction: row;
    /* flex: left; */
}
#counter_position {
    padding-right: 1rem;
}
#mail_counter {
    flex-direction: row;
    background-color:  #007bff;
    Color: #fff;
    /* Padding: 3px 7px; */
    Padding: 3px 7px;
    Border-radius: 10rem;
    Font-size: 75%;
    /* flex: right; */
}