/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Revision number: e 6/3/19 */
/* Default CSS  -------------------- */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}/* Recommended by https://learnlayout.com/box-sizing.html from @Harriett Saxton */
body {
	background-color: lightgray;
	font-family: 'Times New Roman', Times, serif
}
h1 {
	color:darkred ;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 10px;
	}/* Header main topic */
	h2 {
	color: black;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 10px;
	}/* Header subtitle */
	h3 {
	color: black;
	text-align:justify ;
	font-family: 'Times New Roman', Times, serif;
	font-size: 10px;
	}/* Header for a section  */
	p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	text-align:center
	}
	td {
		display: table-cell;
		vertical-align: inherit;
		border: 1px solid black;
	}
	table {
		display: table;
		border-collapse: separate;
		border-spacing: 2px;
		border-color: gray;
		table-layout: auto;
	}
	caption { 
		display: table-caption;
		text-align: center;
	  }
	div {
		display: block;
	}
	label {
		cursor: default;
	}