/* Web Development at Goodwill University */
/* Student: Daniel K. King */
/* Revision number: p 6/1/19 */
/* Table CSS  -------------------- */
table.compare_table {
    display: table;
    border:	3px groove green;
    /* border-collapse: collapse;  */
    /* border-spacing: 3px; */
    /* border-color: greenyellow; */
    border-collapse: separate;
    border-spacing: 10px;
    table-layout: fixed;	
    width: 90%;
    margin-left: 5%; 
    margin-right: 5%;
}
td.compare_cell {
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid black;
}
#assignment-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align:center;
    padding: 1%;
    color: blue;
} /* Assignment text */
#example-image {
    display: block;
    /* border: 3px solid green; */
    width: 90%;
    height: auto;
    padding: 1%;
    margin: auto;
} /* Example Image style */